@import url("https://fonts.googleapis.com/css?family=Inter:var(--text-3xl-font-semibold-font-weight),400,700,var(--text-4xl-font-semibold-font-weight)|Montserrat:var(--text-4xl-font-bold-font-weight),var(--text-lg-font-bold-font-weight),var(--text-base-font-bold-font-weight),700,var(--text-xs-font-normal-font-weight),var(--text-xs-font-bold-font-weight),var(--text-sm-font-normal-font-weight),400,var(--text-base-font-normal-font-weight),var(--text-xl-font-bold-font-weight)");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --dark: rgba(31, 31, 31, 1);
  --dark-grey: rgba(141, 141, 141, 1);
  --grey: rgba(247, 247, 247, 1);
  --medium-grey: rgba(225, 225, 225, 1);
  --pink: rgba(255, 212, 208, 1);
  --red: rgba(252, 51, 20, 1);
  --text-3xl-font-semibold-font-family: "Inter", Helvetica;
  --text-3xl-font-semibold-font-size: 30px;
  --text-3xl-font-semibold-font-style: normal;
  --text-3xl-font-semibold-font-weight: 600;
  --text-3xl-font-semibold-letter-spacing: 0px;
  --text-3xl-font-semibold-line-height: 150%;
  --text-4xl-font-bold-font-family: "Montserrat", Helvetica;
  --text-4xl-font-bold-font-size: 36px;
  --text-4xl-font-bold-font-style: normal;
  --text-4xl-font-bold-font-weight: 700;
  --text-4xl-font-bold-letter-spacing: 0px;
  --text-4xl-font-bold-line-height: 150%;
  --text-4xl-font-semibold-font-family: "Inter", Helvetica;
  --text-4xl-font-semibold-font-size: 36px;
  --text-4xl-font-semibold-font-style: normal;
  --text-4xl-font-semibold-font-weight: 600;
  --text-4xl-font-semibold-letter-spacing: 0px;
  --text-4xl-font-semibold-line-height: 150%;
  --text-base-font-bold-font-family: "Montserrat", Helvetica;
  --text-base-font-bold-font-size: 16px;
  --text-base-font-bold-font-style: normal;
  --text-base-font-bold-font-weight: 700;
  --text-base-font-bold-letter-spacing: 0px;
  --text-base-font-bold-line-height: 150%;
  --text-base-font-normal-font-family: "Montserrat", Helvetica;
  --text-base-font-normal-font-size: 16px;
  --text-base-font-normal-font-style: normal;
  --text-base-font-normal-font-weight: 400;
  --text-base-font-normal-letter-spacing: 0px;
  --text-base-font-normal-line-height: 150%;
  --text-lg-font-bold-font-family: "Montserrat", Helvetica;
  --text-lg-font-bold-font-size: 18px;
  --text-lg-font-bold-font-style: normal;
  --text-lg-font-bold-font-weight: 700;
  --text-lg-font-bold-letter-spacing: 0px;
  --text-lg-font-bold-line-height: 130%;
  --text-sm-font-normal-font-family: "Montserrat", Helvetica;
  --text-sm-font-normal-font-size: 14px;
  --text-sm-font-normal-font-style: normal;
  --text-sm-font-normal-font-weight: 400;
  --text-sm-font-normal-letter-spacing: 0px;
  --text-sm-font-normal-line-height: 150%;
  --text-xl-font-bold-font-family: "Montserrat", Helvetica;
  --text-xl-font-bold-font-size: 20px;
  --text-xl-font-bold-font-style: normal;
  --text-xl-font-bold-font-weight: 700;
  --text-xl-font-bold-letter-spacing: 0px;
  --text-xl-font-bold-line-height: 150%;
  --text-xs-font-bold-font-family: "Montserrat", Helvetica;
  --text-xs-font-bold-font-size: 12px;
  --text-xs-font-bold-font-style: normal;
  --text-xs-font-bold-font-weight: 700;
  --text-xs-font-bold-letter-spacing: 0px;
  --text-xs-font-bold-line-height: 150%;
  --text-xs-font-normal-font-family: "Montserrat", Helvetica;
  --text-xs-font-normal-font-size: 12px;
  --text-xs-font-normal-font-style: normal;
  --text-xs-font-normal-font-weight: 400;
  --text-xs-font-normal-letter-spacing: 0px;
  --text-xs-font-normal-line-height: 150%;
  --white: rgba(255, 255, 255, 1);
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
    --border: 216 34% 17%;
    --input: 216 34% 17%;
    --card: transparent;
    --card-foreground: 213 31% 91%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --ring: 216 34% 17%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply m-0 min-h-screen bg-background text-foreground antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  #root {
    @apply min-h-screen;
  }
}
